<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Hot Type Web Study</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/eke0phn.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap" rel="stylesheet">
</head>

<body>
   <h1>Web Components</h1>

   <h2>Typography Defaults</h2>
   
    <article class="component">
        <h3 class="component__name">Body</h3>

        <div class="component__img">
            <img src="../components/img/bodytext.png" alt="hottype's default body fonts">
        </div>
        
        <div class="component__code">
            <p>Home of contemporary typefaces that build on top of historical models and cultural legacy. We nurture fresh & original approach, high quality execution and exciting shapes.
            </p>
        </div>
    </article>

  <article class="component">
        <h3 class="component__name">Headings (h1, h2, ..)</h3>
        
        <div class="component__img">
            <img src="img/h1.png" alt="heading 1 style">
            <img src="img/h2.png" alt="heading 2 stlyle">
            <img src="img/h3.png" alt="heading 3 style">
        </div>
        
        <div class="component__code">
            <h2>Projects</h2>
            <h3><a href="#">Hot Sans - 12 Styles</a></h3>
            <h4>L'Oreal</h4>
        </div>
    </article>
</body>
