<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Hot Type Web Study</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/eke0phn.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eke0phn.css">
</head>

<body>
    <div class="side-menu">
        <h1>Web Components</h1>
            <ul>
                <li><a href="#typography">Defaults</a></li>
                <li><a href="#atoms">Atoms</a></li>
                <li><a href="#header">Page Header/Main Nav</a></li>
                <li><a href="#cover-top">Cover Sections</a></li>
                <li><a href="#fonts">Fonts</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#socil-list">Social-list</a></li>
                <li><a href="#footer">Page Footer</a></li>
            </ul>
    </div>
<!--
Typographic Defaults Begin
-->
    <div class="container">
    <h2 id="typography">Typographic Defaults</h2>
        <article class="body">
            <h3 class="body__heading">Body</h3>

            <div class="component__img">
                <img src="../components/img/bodytext.png" alt="hottype's default body fonts">
            </div>
            
            <div class="body__code">
                <p>Home of contemporary typefaces that build on top of historical models and cultural legacy. We nurture fresh & original approach, high quality execution and exciting shapes.
                </p>
            </div>
        </article>

        <article class="headings">
            <h3 class="headings__heading">Headings (h1, h2, ..)</h3>
            
            <div class="component__img">
                <img src="img/h1.png" alt="heading 1 style">
                <img src="img/h2.png" alt="heading 2 stlyle">
                <img src="img/h3.png" alt="heading 3 style">
            </div>
            
            <div class="heading__code">
                <h2>Projects</h2>
                <h3><a href="#">Hot Sans - 12 Styles</a></h3>
                <h4>L'Oreal</h4>
            </div>
        </article>
<!--
    Atoms Begins
-->
    <h2 id="atoms">Atoms</h2>
<!--
    Nav-toggle
-->
        <article class="nav-toggle">
            <h3 class="nav-toggle__heading">nav-toggle</h3>
            <h3>white theme</h3>
            <div class="component__img">
                <img src="img/navicon.png">
            </div>
            
            <div class="nav-toggle__code">
                <a class="menu--button" href="#"><img src="img/mininav200.png" height="75px" width="75px"></a>
            </div>

            <h3>black theme</h3>
            <div class="component__img">
                <img src="img/naviconred.png">
            </div>
            
            <div class="component__code">
                <a class="menu--button" href="#"><img src="img/mininavblack200.png" height="75px" width="75px"></a>
            
            </div>
        </article>
<!--
    cover hero/body text
-->
        <article class="component">
            <h3 class="component__name">section-heading</h3>
            
            <div class="component__img">
                <img src="img/bodytext.png">
            </div>
            
            <div class="component__code">
                <p>Home of contemporary typefaces that build on top of historical models and cultural legacy. We nurture fresh & original approach, high quality execution and exciting shapes.
                </p>
                <img src="img/hotsansicon.png">
                <img src="img/stroygroteskicon.png">
                <img src="img/puntaicon.png">
                <img src="img/stroymonoicon.png">
            </div>
        </article>,

<!--
    Page Header Begins
-->
    <h2 id="header">Page Header/Main Nav</h2>
        <article class="page-header">
            <h3 class="page-header__heading">page-header</h3>
            
            <div class="component__img">
                <img src="img/headerwhite_webpng.png">
            </div>
            
            <div class="page-header__code">
                <img src="img/hottypelogo.png">
                <ul>
                    <li><a href="#">Fonts</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </div>
        </article>

        <article class="mini-nav">

            <h3 class="mini-nav__heading">mini-nav</h3>
            
            <div class="component__img">
                <img src="img/minivav.png">
            </div>
            
            <div class="mini-nav__code">
                    <img src="img/hottypelogored.png">
                <ul>
                    <li><a href="#">Fonts</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                
                </ul>

                <p class="mini-nav--account"><a href="#">Account</a></p>

                <img class="mini-nav--icon" src="img/mininavopen200.png" height="75px" width="75px"> 
            </div>
        </article>

<!--
    Cover Section Begins
-->

    <h2 id="cover-top">Cover Sections</h2>
<!--
    Fonts
-->
        <div class="fonts">
        <h4 id="fonts">Fonts</h4>
<!--
    Hot Sans
-->
        <article class="cover-section__hotsans">
            <h3 class="cover-section__hotsans--heading">cover-section__hotsans</h3>
            
            <div class="component__img">
                <img src="img/hotsans_block.png">
            </div>
            
            <div class="cover-section__code">

                <a href="#">
                    <div class="cover-section__row">
                    <h3> Hot Sans — 12 Styles</h3>
                    <h3>Starting at €70.00</h3>
                    </div>

                    <p class="fontdisplay__hotsans">
                        Something Ridiculous
                    </p>
                </a>
            </div>

        </article>
<!--
    Punta
-->
        <article class="cover-section__punta">

            <h3 class="cover-section__punta__heading">cover-section__punta</h3>
                
            <div class="component_img">
                <img src="img/punta_block.png">
            </div>
            
            <div class="cover-section__code">

                <a href="#">
                    <div class="cover-section__row">
                    <h3>Punta — 10 Styles</h3>
                    <h3>Starting at €70.00</h3>
                    </div>

                    <p class="fontdisplay__punta">
                        Your time is limited
                    </p>
                </a>
            </div> 

        </article> 
<!--
    Stroy Grotesk
-->             

        <article class="cover-section__stroy-grotesk">
            <h3 class="cover-section__stroy-grotesk--heading">cover-section__stroy-grotesk</h3>
                
            <div class="component__img">
                <img src="img/stroy-grotesk_block.png">
            </div>
            
            <div class="cover-section__code">

                <a href="#">
                    <div class="cover-section__row">
                    <h3>Stroy Grotesk — 12 Styles</h3>
                    <h3>Starting at €70.00</h3>
                    </div>

                    <p class="fontdisplay__stroygrotesk">
                        Professional Crastination
                    </p>
                </a>
            </div>

        </article>
<!--
    Stroy Mono
-->

        <article class="cover-section__stroymono">
            <h3 class="cover-section__heading">cover-section__stroy-mono</h3>
                
            <div class="component__img">
                <img src="img/stroy-mono_block.png">
            </div>
            
            <div class="cover-section__code">

                <a href="#">
                    <div class="cover-section__row">
                    <h3>Stroy Mono — 12 Styles</h3>
                    <h3>Starting at €70.00</h3>
                    </div>

                    <p class="fontdisplay__stroymono">
                        Sensible Dumpster
                    </p>
                </a>
            </div>

        </article>
        </div>

<!--
    Projects
-->
        
        <h4 id="projects">Projects</h4>
        <div class="projects">

        <article class="project-loreal">

            <h3 class="project-loreal__heading">project-loreal</h3>
            
            <div class="component__img">
                <img src="img/lorealimage.png">
                <img src="img/lorealhover.png">
            </div>
            
            <div class="project-loreal__code">
            <a href="#">
                <h4>L'Oreal</h4>
            </a>
            </div>

        </article>

        <article class="project-nike">

            <h3 class="project-nike__heading">project-nike</h3>
            
            <div class="component__img">
                <img src="img/nikeimage.png">
                <img src="img/nikehover.png">
            </div>
            
            <div class="project-nike__code">
                <a href="#">
                    <h4>Nike Air</h4>
                </a>
            </div>

        </article>

        <article class="project-pekingduck">

            <h3 class="project-pekingduck__heading">project-pekingduck</h3>
            
            <div class="component__img">
                <img src="img/pekingimage.png">
                <img src="img/pekinghover.png">
            </div>
            
            <div class="pekingduck__code">
                <a href="#">
                    <h4> Peking Duck</h4>
                </a>
            </div>

        </article>

        <article class="project-vizkultura">

            <h3 class="project-vizkultura__heading">project-vizkultura</h3>
            
            <div class="component__img">
                <img src="img/vizkulturaimage.png">
                <img src="img/vizkulturahover.png">
            </div>
            
            <div class="project-vizkulturas__code">
                <a href="#">
                    <h4>Vizkultura Magazine</h4>
                </a>
            </div>

        </article>
        </div>
<!--
    Hottest Work Grid
-->
        <article class="hottest-work">
    
            <div class="component__img">
                <h3 class="hottest-work__name">Hottest Work</h3>
                <img src="img/hottest-work_block.png">
            </div>
            
            <div class="hottest-work__code">
                <div class="projects">

                    <article class="grid_project-loreal">
     
                        <div class="project-loreal__code">
                        <a href="#">
                            <h4>L'Oreal</h4>
                        </a>
                        </div>
            
                    </article>
            
                    <article class="grid_project-nike">

                        <div class="project-nike__code">
                            <a href="#">
                                <h4>Nike Air</h4>
                            </a>
                        </div>
            
                    </article>
            
                    <article class="grid_project-pekingduck">                  
                        <div class="pekingduck__code">
                            <a href="#">
                                <h4> Peking Duck</h4>
                            </a>
                        </div>
            
                    </article>
            
                    <article class="grid_project-vizkultura">
    
                        <div class="project-vizkulturas__code">
                            <a href="#">
                                <h4>Vizkultura Magazine</h4>
                            </a>
                        </div>
            
                    </article>
                    </div>
            </div>
        </article>
        

<!--
    Page Footer Begins
-->
    <h2 id="social-list">Page Footer</h2>  

        <article class="social-list">

            <h3 class="social-list__heading">social-list</h3>
            
            <div class="component__img">
                <img src="img/fullsocial.png">
            </div>
            
            <div class="social-list__code">
                
                <img src="img/firesociallogo.png">
                <h4>Hotline</h4>

                <ul>
                    <li>hello@hottype.co</li>
                    <li>+385 (0)99 2989 III</li>
                </ul>

                <ul>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                </ul>
            </div>

        </article>

        <article class="page-footer">

            <h3 id="footer" class="page-footer__heading">page-footer</h3>
            
            <div class="component__img">
                <img src="img/fullfooter.png">
            </div>
            
            <div class="page-footer__code">
                
                <div class="page-footer__base">
                <p><a href="#top">Back to top ↑</a></p>
                <p>Crafted by Fran, Zoran & FoundryCore</p>
                <p>2022 HotType <a href="#">Support</a></p>
                </div>
            </div>
</div>
        </article>
    </div>
</body>
